<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chiến dịch cộng đồng - Chi tiết</title>
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="burger" id="hamburger">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <a href="" class="header-logo">
                <img src="./assets/images/header-logo.svg" alt="">
            </a>
            <div class="header-nav">
                <div class="menu-nav">
                    <ul class="menu-list">
                        <li class="menu-item dropdown">
                            <a href="">
                                Câu chuyện thương hiệu
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item current_page_item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">
                                Sản phẩm dịch vụ
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item current_page_item">
                            <a href="">
                                Chiến lược phát triển
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-item">
                    <div class="header-search-icon">
                        <img src="./assets/images/header-search-icon.svg" alt="">
                    </div>
                </div>
                <div class="header-right-item">
                    <div class="lang header-lang">
                        <div class="lang-item lang-head">
                            <p class="lang-name">
                                VN
                            </p>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="lang-list">
                            <a href="" class="lang-item">
                                <p class="lang-name">
                                    EN
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav  menu-have-icon">
                            <ul class="menu-list">
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Câu chuyện thương hiệu
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Sản phẩm và dịch vụ
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Chiến lược phát triển
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Tin tức
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content">
                        <p class="mobile-title">
                            Thông tin liên hệ
                        </p>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title"> Địa chỉ: </span>
                            <p class="mobile-text">
                                148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                            </p>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Phone:</span>
                            <a href="" class="mobile-text mobile-link">
                                1800 6242
                            </a>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Email:</span>
                            <a href="" class="mobile-text mobile-link">
                                info@dtp-education.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-face.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-youtube.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-zalo.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-phone.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mail.svg" alt="">
                </a>
            </div>
        </div>
        <div class="popup search-mona">
            <div class="popup-overlay"></div>
            <div class="popup-close">
                <i class="ti-close icon"></i>
            </div>
            <div class="popup-main">
                <p class="search-title">
                    Tìm kiếm.
                </p>
                <form action="">
                    <div class="search-wrap">
                        <input type="text" class="search-input" placeholder="Nhập từ khóa">
                        <button type="submit" class="btn btn-line">
                            <p class="text">
                                Tìm kiếm
                            </p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="ss-banner">
            <div class="banner second">
                <div class="breadcrumb breadcrumb-posi">
                    <div class="container">
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Chiến dịch cộng đồng
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="line"></div>
                <div class="banner-decor">
                    <img src="./assets/images/banner-decor.svg" alt="">
                </div>
                <div class="banner-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-wrap"
                                    style="background-image: url(./assets/images/banner-congdong-ct.jpg);">
                                    <div class="container">
                                        <div class="banner-content">
                                            <p class="banner-tags">
                                                Về chúng tôi
                                            </p>
                                            <h2 class="banner-title big">
                                                Đại trường phát
                                            </h2>
                                            <p class="banner-des">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et
                                                purus est. Sed quis ligula justo. Donec fermentum velit et felis
                                                ullamcorper tristique. Phasellus pretium at tellus gravida aliquam.
                                                Pellentesque cursus lorem metus, id aliquam risus
                                                bibendum quis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ss-community">
            <div class="community">
                <div class="container">
                    <a href="" class="backto">Quay lại</a>
                    <div class="community-wr">
                        <div class="community-left">
                            <div class="community-time">
                                <div class="user">
                                    <img src="./assets/images/user-icon.svg" alt="">
                                    <p>Tác giả: <span>nguyen ho</span></p>
                                </div>
                                <div class="date">
                                    <img src="./assets/images/time-icon.svg" alt="">
                                    <p>Ngày đăng: 28/07/2022</p>
                                </div>
                            </div>
                            <div class="community-content mona-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia lectus a
                                    lorem scelerisque suscipit. Praesent quam est, rutrum at laoreet at, tristique in
                                    mi. Cras consectetur fermentum leo, eget semper eros auctor eget. Maecenas lobortis
                                    porta ligula eget eleifend. Sed nec auctor est. Etiam pharetra dui quis turpis
                                    eleifend hendrerit. Pellentesque nec velit ligula. Phasellus gravida tristique nulla
                                    at efficitur. Nulla facilisi. Sed ultrices rhoncus aliquam. Curabitur at
                                    pellentesque justo.
                                </p>
                                <div class="img">
                                    <img src="./assets/images/banner-img-1.jpg" alt="img">
                                </div>
                                <p>
                                    Sed id risus in enim tristique interdum. Sed dignissim auctor ligula, id scelerisque
                                    sapien imperdiet sed. Praesent auctor ex nec commodo dictum. Duis eget nibh vel
                                    justo auctor sodales in mollis purus. Fusce eget elementum libero. Vestibulum non
                                    consequat quam. Pellentesque varius congue ex, quis accumsan risus pharetra in.
                                    Etiam consectetur sollicitudin dui. Donec in convallis risus, ac pellentesque arcu.
                                </p>
                                <p>
                                    Donec hendrerit orci purus, in porta ipsum fringilla ac. Nulla mollis dolor eget
                                    iaculis aliquet. Vivamus et vehicula nibh, ut viverra velit. In gravida, ligula id
                                    commodo fringilla, metus enim rhoncus risus, in volutpat sapien velit quis purus.
                                    Praesent ut interdum nulla. Mauris tristique lorem ac purus ornare facilisis.
                                </p>
                                <p>
                                    Nam gravida non urna ut fringilla. Sed ornare feugiat nibh ut tincidunt. Vestibulum
                                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus
                                    a eros non sapien interdum fringilla. Sed ipsum ex, feugiat sit amet eros nec,
                                    dignissim egestas tellus. Nunc sodales diam velit. Aliquam consectetur, nisi id
                                    viverra condimentum, libero diam euismod lectus, nec consectetur tellus leo ac mi.
                                </p>
                            </div>
                            <div class="community-ctrl">
                                <div class="community-ctrl-item">
                                    <a href="">
                                        <img src="./assets/images/arr-prev.svg" alt="">
                                    </a>
                                    <div class="info">
                                        <a href="" class="info-small">Tin trước đó</a>
                                        <a href="" class="info-link">
                                            Giải pháp nào để mùa thi không
                                            còn là gánh nặng của các thầy cô?
                                        </a>
                                    </div>
                                </div>
                                <div class="community-ctrl-item">
                                    <a href="">
                                        <img src="./assets/images/arr-prev.svg" alt="">
                                    </a>
                                    <div class="info">
                                        <a href="" class="info-small">Tin sau đó</a>
                                        <a href="" class="info-link">
                                            Làm sách cần hiểu nhu cầu
                                            dạy và học
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="community-right">
                            <div class="twe">
                                <div class="community-right-title">
                                    <h2>Các chiến dịch khác</h2>
                                </div>
                                <div class="dsmall twe-list">
                                    <div class="dsmall-item twe-item">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-1.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Lorem ipsum dolor
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dsmall-item twe-item">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-1.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Lorem ipsum dolor
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="ss-carable">
            <div class="carable">
                <div class="container">
                    <div class="carable-tt">
                        <h2 class="carable-tt-txt">Có thể bạn quan tâm</h2>
                    </div>
                    <div class="carable-wr">
                        <div class="twe-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-1.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Lorem ipsum dolor
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-2.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Curabitur conctetur
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-3.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Etiam posuere tortor
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="twe-wrap">
                                            <a href="" class="twe-img">
                                                <img src="./assets/images/twe-img-4.jpg" alt="">
                                            </a>
                                            <div class="twe-content">
                                                <h3 class="twe-name">
                                                    <a href="">
                                                        Maecenas bibendum
                                                    </a>
                                                </h3>
                                                <p class="twe-des">
                                                    Lorem ipsum dolor sit amet, con sectetur adipis cing elit. Curabitur
                                                    et pusinrus est. Sed quis ligula justo.
                                                </p>
                                                <a href="" class="btn">
                                                    <span class="text">
                                                        Xem thêm
                                                    </span>
                                                    <i class="fas fa-angle-right icon icon-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-contact">
            <div class="container">
                <div class="footer-contact-wrapper">
                    <div class="footer-contact-phone">
                        <p class="title">
                            Hotline:
                        </p>
                        <a href="" class="number">
                            1800 6242
                        </a>
                    </div>
                    <div class="footer-mxh mxh">
                        <p class="title">
                            Kết nối với chúng tôi tại
                        </p>
                        <div class="mxh-list">
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-face.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-youtube.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-zalo.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-phone.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-mail.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-component">
            <div class="footer-decor">
                <img src="./assets/images/footer-decor.png" alt="">
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="footer-top">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <a href="" class="footer-logo">
                                    <img src="./assets/images/footer-logo.svg" alt="">
                                </a>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <p class="footer-title">
                                    Câu chuyện thương hiệu
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <p class="footer-title">
                                    Sản phẩm & Dịch vụ
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <p class="footer-title">
                                    Chiến lược phát triển
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <p class="footer-title">
                                    Tin tức & Sự kiện
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="footer-bot">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <div class="footer-wrap">
                                    <a href="" class="footer-logo">
                                        <img src="./assets/images/footer-logo.svg" alt="">
                                    </a>
                                    <p class="footer-heading">
                                        Công ty TNHH Education Solutions Việt Nam
                                    </p>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-1.svg" alt="" class="icon">
                                        <p class="footer-text">
                                            148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                                        </p>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-2.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            1800 6242
                                        </a>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-3.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            info@dtp-education.com
                                        </a>
                                    </div>
                                    <div class="download">
                                        <div class="download-list">
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-ios.png" alt="">
                                                </a>
                                            </div>
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-gg.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Câu chuyện thương hiệu
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item current_page_item">
                                                <a href="">
                                                    Về chúng tôi
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Ban lãnh đạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Lịch sử hình thành
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược phát triển
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sản phẩm & dịch vụ
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thành tính nổi bật
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến dịch cộng đồng
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Cơ hội nghề nghiệp
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Sản phẩm & Dịch vụ
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách giáo khoa
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách & Tài nguyên khác
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chương trình đào tạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thiết bị giáo dục
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Chiến lược phát triển
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược chuyển đổi số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược bền vững
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược đối tác
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Tin tức & Sự kiện
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Tin tức
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Truyền thông
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sự kiện
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-author">
                <div class="container">
                    <div class="footer-author-wrapper">
                        <p class="footer-text">
                            © 2022 DTP Education.
                        </p>
                        <div class="spc spc-24">
                            <div class="spc-list">
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Chính sách bảo mệt
                                    </a>
                                </div>
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Điều khoản & Điều kiện
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/slick/slick.min.js"></script>
    <script src="./js/library/wow/wow.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.counterup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/anime/anime.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>