<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Chương trình đào tạo smart start</title>
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="burger" id="hamburger">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <a href="" class="header-logo">
                <img src="./assets/images/header-logo.svg" alt="">
            </a>
            <div class="header-nav">
                <div class="menu-nav">
                    <ul class="menu-list">
                        <li class="menu-item dropdown">
                            <a href="">
                                Câu chuyện thương hiệu
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item current_page_item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">
                                Sản phẩm dịch vụ
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item current_page_item">
                            <a href="">
                                Chiến lược phát triển
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-item">
                    <div class="header-search-icon">
                        <img src="./assets/images/header-search-icon.svg" alt="">
                    </div>
                </div>
                <div class="header-right-item">
                    <div class="lang header-lang">
                        <div class="lang-item lang-head">
                            <p class="lang-name">
                                VN
                            </p>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="lang-list">
                            <a href="" class="lang-item">
                                <p class="lang-name">
                                    EN
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav  menu-have-icon">
                            <ul class="menu-list">
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Câu chuyện thương hiệu
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Sản phẩm và dịch vụ
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Chiến lược phát triển
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Tin tức
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content">
                        <p class="mobile-title">
                            Thông tin liên hệ
                        </p>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title"> Địa chỉ: </span>
                            <p class="mobile-text">
                                148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                            </p>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Phone:</span>
                            <a href="" class="mobile-text mobile-link">
                                1800 6242
                            </a>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Email:</span>
                            <a href="" class="mobile-text mobile-link">
                                info@dtp-education.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-face.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-youtube.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-zalo.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-phone.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mail.svg" alt="">
                </a>
            </div>
        </div>
        <div class="popup search-mona">
            <div class="popup-overlay"></div>
            <div class="popup-close">
                <i class="ti-close icon"></i>
            </div>
            <div class="popup-main">
                <p class="search-title">
                    Tìm kiếm.
                </p>
                <form action="">
                    <div class="search-wrap">
                        <input type="text" class="search-input" placeholder="Nhập từ khóa">
                        <button type="submit" class="btn btn-line">
                            <p class="text">
                                Tìm kiếm
                            </p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="ss-banner">
            <div class="banner five">
                <div class="breadcrumb breadcrumb-posi">
                    <div class="container">
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Sản phẩm dịch vụ
                                </a>
                            </li>
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Chương trình đào tạo
                                </a>
                            </li>
                            <li class="breadcrumb-item" data-aos="fade-right">
                                <a href="">
                                    Smart start
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="banner-decor">
                    <img src="./assets/images/banner-decor.svg" alt="">
                </div>
                <div class="banner-slider">
                    <div class="swiper  loop-none">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-wrap" style="background-image: url(./assets/images/prog-banner-2.jpg);">
                                    <div class="container">
                                        <div class="dsmall banner-list">
                                            <div class="dsmall-item banner-item">
                                                <div class="banner-content">
                                                    <a href="" class="btn btn-back white">
                                                        <i class="fas fa-long-arrow-left icon icon-left"></i>
                                                        <span class="text">
                                                            Quay lại
                                                        </span>
                                                    </a>
                                                    <h1 class="banner-title">
                                                        Smart Start
                                                    </h1>
                                                    <p class="banner-des">
                                                        <span class="fw-6">i-Learn Smart Start</span> là chương trình tiếng Anh dành cho học sinh Tiểu học có 05 cấp độ tương ứng từ lớp 1 đến lớp 5.
                                                        <br><br> Chương trình được nghiên cứu và biên soạn bởi đội ngũ các tác giả quốc tế kết hợp với đội ngũ giảng viên của Trường Đại học Sư Phạm TP. Hồ Chí Minh, các chuyên gia Việt Nam và đặc biệt với
                                                        sự tham gia của hơn 300 giáo viên hiện đang giảng dạy phần mềm i-Learn Classware tại các trường đối tác của Tập đoàn trên khắp các vùng miền của Việt Nam.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="dsmall-item banner-item">
                                                <div class="banner-img">
                                                    <div class="banner-img-inner">
                                                        <img src="./assets/images/prog-banner-img.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="banner-content mobi">
                    <h1 class="banner-title">
                        Smart Start
                    </h1>
                    <p class="banner-des">
                        <span class="fw-6">i-Learn Smart Start</span> là chương trình tiếng Anh dành cho học sinh Tiểu học có 05 cấp độ tương ứng từ lớp 1 đến lớp 5.
                        <br><br> Chương trình được nghiên cứu và biên soạn bởi đội ngũ các tác giả quốc tế kết hợp với đội ngũ giảng viên của Trường Đại học Sư Phạm TP. Hồ Chí Minh, các chuyên gia Việt Nam và đặc biệt với sự tham gia của hơn 300 giáo
                        viên hiện đang giảng dạy phần mềm i-Learn Classware tại các trường đối tác của Tập đoàn trên khắp các vùng miền của Việt Nam.
                    </p>
                </div>
            </div>
        </section>
        <div class="prog ss-pd">
            <div class="container">
                <div class="head t-center">
                    <h2 class="t-title">
                        Các đặc điểm nổi bật
                    </h2>
                </div>
                <div class="prog-main">
                    <div class="prog-block">
                        <div class="dsmall prog-row">
                            <div class="dsmall-item prog-col-left">
                                <div class="prog-image">
                                    <img src="./assets/images/prog-image-4.png" alt="">
                                </div>
                            </div>
                            <div class="dsmall-item prog-col-right">
                                <div class="prog-content">
                                    <h3 class="prog-name">
                                        Tiêu chuẩn phòng học
                                    </h3>
                                    <p class="prog-des">
                                        Phòng học cao cấp, tạo không gian lớp học hiện đại, sinh động và vui tươi. Bàn ghế theo tiêu chuẩn cho lứa tuổi mầm non, chất lượng cao.
                                        <br> <br> Trang thiết bị giảng dạy gồm: TV tương tác 65 inch, bảng tương tác, máy chiếu, máy tính hiện đại thương hiệu uy tín.
                                        <br> <br> Sản phẩm nhập khẩu từ Châu Âu, sử dụng công nghệ cảm biến hồng ngoại , độ nhạy cao.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prog-block">
                        <div class="dsmall prog-row">
                            <div class="dsmall-item prog-col-left">
                                <div class="prog-image">
                                    <img src="./assets/images/prog-image-5.png" alt="">
                                </div>
                            </div>
                            <div class="dsmall-item prog-col-right">
                                <div class="prog-content">
                                    <h3 class="prog-name">
                                        Giáo trình giảng dạy
                                    </h3>
                                    <p class="prog-des">
                                        Chương trình i-learn Smart Start được thiết kế giảng dạy dựa vào 2 nguồn tài liệu chính: Bộ sách i-learn Smart Start và phần mềm giảng dạy trực tuyến i-Learn Classware.
                                        <br> <br> Phần mềm giảng dạy tiếng Anh trực tuyến i-Learn Classware được phát triển bởi đội ngũ chuyên gia trong nước và quốc tế của ESVN, bổ trợ tối đa cho giáo viên và người học.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prog-block">
                        <div class="dsmall prog-row">
                            <div class="dsmall-item prog-col-left">
                                <div class="prog-image">
                                    <img src="./assets/images/prog-image-6.png" alt="">
                                </div>
                            </div>
                            <div class="dsmall-item prog-col-right">
                                <div class="prog-content">
                                    <h3 class="prog-name">
                                        Tiêu chuẩn phòng học
                                    </h3>
                                    <p class="prog-des">
                                        Tiếp thu dễ dàng và nhớ bài ngay tại lớp thông qua các trò chơi, bài hát vui nhộn, phù hợp tâm lý lứa tuổi học sinh. Bám sát và bổ trợ tốt chương trình tiếng Anh chính khóa của Bộ Giáo Dục và Đào Tạo, đồng thời mở rộng thêm các nội dung thực tế với lớp
                                        học Việt Nam.
                                        <br> <br> Chuẩn bị tốt và đạt kết quả cao trong các kỳ thi quốc tế của dành cho lứa tuổi Thiếu nhi của ĐH Cambridge: Starters, Movers, Flyers.
                                        <br> <br> Phát triển toàn diện 4 kỹ năng: Nghe – Nói – Đọc – Viết và rèn luyện phát âm theo giọng chuẩn bản ngữ.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-contact">
            <div class="container">
                <div class="footer-contact-wrapper">
                    <div class="footer-contact-phone">
                        <p class="title">
                            Hotline:
                        </p>
                        <a href="" class="number">
                            1800 6242
                        </a>
                    </div>
                    <div class="footer-mxh mxh">
                        <p class="title">
                            Kết nối với chúng tôi tại
                        </p>
                        <div class="mxh-list">
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-face.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-youtube.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-zalo.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-phone.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-mail.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-component">
            <div class="footer-decor">
                <img src="./assets/images/footer-decor.png" alt="">
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="footer-top">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <a href="" class="footer-logo">
                                    <img src="./assets/images/footer-logo.svg" alt="">
                                </a>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <p class="footer-title">
                                    Câu chuyện thương hiệu
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <p class="footer-title">
                                    Sản phẩm & Dịch vụ
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <p class="footer-title">
                                    Chiến lược phát triển
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <p class="footer-title">
                                    Tin tức & Sự kiện
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="footer-bot">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <div class="footer-wrap">
                                    <a href="" class="footer-logo">
                                        <img src="./assets/images/footer-logo.svg" alt="">
                                    </a>
                                    <p class="footer-heading">
                                        Công ty TNHH Education Solutions Việt Nam
                                    </p>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-1.svg" alt="" class="icon">
                                        <p class="footer-text">
                                            148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                                        </p>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-2.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            1800 6242
                                        </a>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-3.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            info@dtp-education.com
                                        </a>
                                    </div>
                                    <div class="download">
                                        <div class="download-list">
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-ios.png" alt="">
                                                </a>
                                            </div>
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-gg.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Câu chuyện thương hiệu
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item current_page_item">
                                                <a href="">
                                                    Về chúng tôi
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Ban lãnh đạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Lịch sử hình thành
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược phát triển
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sản phẩm & dịch vụ
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thành tính nổi bật
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến dịch cộng đồng
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Cơ hội nghề nghiệp
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Sản phẩm & Dịch vụ
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách giáo khoa
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách & Tài nguyên khác
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chương trình đào tạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thiết bị giáo dục
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Chiến lược phát triển
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược chuyển đổi số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược bền vững
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược đối tác
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Tin tức & Sự kiện
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Tin tức
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Truyền thông
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sự kiện
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-author">
                <div class="container">
                    <div class="footer-author-wrapper">
                        <p class="footer-text">
                            © 2022 DTP Education.
                        </p>
                        <div class="spc spc-24">
                            <div class="spc-list">
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Chính sách bảo mệt
                                    </a>
                                </div>
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Điều khoản & Điều kiện
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/slick/slick.min.js"></script>
    <script src="./js/library/wow/wow.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.counterup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/anime/anime.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>