<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Giải pháp số</title>
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="burger" id="hamburger">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <a href="" class="header-logo">
                <img src="./assets/images/header-logo.svg" alt="">
            </a>
            <div class="header-nav">
                <div class="menu-nav">
                    <ul class="menu-list">
                        <li class="menu-item dropdown">
                            <a href="">
                                Câu chuyện thương hiệu
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item current_page_item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Câu chuyện Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">
                                Sản phẩm dịch vụ
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sản phẩm Demo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item current_page_item">
                            <a href="">
                                Chiến lược phát triển
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="">
                                Tin tức
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-item">
                    <div class="header-search-icon">
                        <img src="./assets/images/header-search-icon.svg" alt="">
                    </div>
                </div>
                <div class="header-right-item">
                    <div class="lang header-lang">
                        <div class="lang-item lang-head">
                            <p class="lang-name">
                                VN
                            </p>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="lang-list">
                            <a href="" class="lang-item">
                                <p class="lang-name">
                                    EN
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-overlay"></div>
        <div class="mobile">
            <div class="mobile-con">
                <div class="mobile-wr">
                    <div class="mobile-nav">
                        <div class="menu-nav  menu-have-icon">
                            <ul class="menu-list">
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Câu chuyện thương hiệu
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Câu chuyện demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Sản phẩm và dịch vụ
                                    </a>
                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item current_page_item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="">
                                                Sản phẩm demo
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Chiến lược phát triển
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Tin tức
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-content">
                        <p class="mobile-title">
                            Thông tin liên hệ
                        </p>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title"> Địa chỉ: </span>
                            <p class="mobile-text">
                                148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                            </p>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Phone:</span>
                            <a href="" class="mobile-text mobile-link">
                                1800 6242
                            </a>
                        </div>
                        <div class="mobile-fl mb-16s">
                            <span class="fw-6 title">Email:</span>
                            <a href="" class="mobile-text mobile-link">
                                info@dtp-education.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-mxh">
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-face.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-youtube.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-zalo.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-phone.svg" alt="">
                </a>
                <a href="" class="mobile-mxh-link">
                    <img src="./assets/images/icon-mail.svg" alt="">
                </a>
            </div>
        </div>
        <div class="popup search-mona">
            <div class="popup-overlay"></div>
            <div class="popup-close">
                <i class="ti-close icon"></i>
            </div>
            <div class="popup-main">
                <p class="search-title">
                    Tìm kiếm.
                </p>
                <form action="">
                    <div class="search-wrap">
                        <input type="text" class="search-input" placeholder="Nhập từ khóa">
                        <button type="submit" class="btn btn-line">
                            <p class="text">
                                Tìm kiếm
                            </p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="ss-banner">
            <div class="banner four blue-min">
                <div class="banner-slider">
                    <div class="breadcrumb breadcrumb-posi">
                        <div class="container">
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-item" data-aos="fade-right">
                                    <a href="">
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="breadcrumb-item" data-aos="fade-right">
                                    <a href="">
                                        Sản phẩm và dịch vụ
                                    </a>
                                </li>
                                <li class="breadcrumb-item" data-aos="fade-right">
                                    <a href="">
                                        Giải pháp số
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper loop-none">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-wrap">
                                    <div class="container">
                                        <div class="banner-content">
                                            <h1 class="banner-title big">
                                                Giải pháp số
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-page">
                    <div class="container">
                        <div class="menu-page-wrapper">
                            <ul class="menu-list">
                                <li class="menu-item ">
                                    <a href="">
                                        Sách giáo khoa
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Sách & Tài nguyên khác
                                    </a>
                                </li>
                                <li class="menu-item   current_page_item">
                                    <a href="">
                                        Giải pháp số
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Chương trình đào tạo
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Thiết bị giáo dục
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="solu ss-pd tabJS">
            <div class="container">
                <div class="solu-nav">
                    <ul>
                        <li class="tabBtn">
                            <img src="./assets/images/solu-nav-logo-1.jpg" alt="" class="icon">
                            <span class="text">
                                Eduhome
                            </span>
                        </li>
                        <li class="tabBtn">
                            <img src="./assets/images/solu-nav-logo-2.jpg" alt="" class="icon">
                            <span class="text">
                                Ứng dụng <br>
                                PracticeTest
                            </span>
                        </li>
                        <li class="tabBtn">
                            <img src="./assets/images/solu-nav-logo-3.jpg" alt="" class="icon">
                            <span class="text">
                                Từ điển <br>
                                School Dictionary
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="solu-wrapper">
                    <div class="solu-br">
                        <img src="./assets/images/solu-br.jpg" alt="">
                    </div>
                    <div class="solu-con tabPanel">
                        <div class="solu-block">
                            <div class="solu-top">
                                <div class="solu-top-left">
                                    <div class="solution-head">
                                        <div class="solution-logo">
                                            <img src="./assets/images/solu-logo-1.jpg" alt="">
                                        </div>
                                        <div class="solution-head-content">
                                            <p class="name">
                                                Eduhome
                                            </p>
                                            <p class="des t28-12">
                                                Phần mềm giáo dục
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="solu-top-right">
                                    <div class="solution-content">
                                        <p class="solution-des t28-14">
                                            Eduhome là ứng dụng giáo dục đa nền tảng được phát triển bởi Tập đoàn Giáo dục Đại Trường Phát (DTP Education) nhằm mang lại hiệu quả tối ưu trong việc dạy và học tiếng Anh.
                                            <br> <br> Eduhome chính thức ra đời năm 2021 với sứ mệnh cung cấp các giải pháp giáo dục số toàn diện nhằm phục vụ chương trình giáo dục phổ thông mới.
                                        </p>
                                        <div class="download">
                                            <div class="download-list">
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-ios.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-gg.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-image">
                                <img src="./assets/images/solu-image-1.png" alt="">
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class=" solu-as">
                                <div class="dsmall solu-as-list">
                                    <div class="dsmall-item solu-as-item">
                                        <img src="./assets/images/solu-as-1.svg" alt="" class="icon">
                                        <p class="solu-as-des">
                                            Chứa 1000+ tựa sách bám sát khung chương trình mới của Bộ GD&ĐT
                                        </p>
                                    </div>
                                    <div class="dsmall-item solu-as-item">
                                        <img src="./assets/images/solu-as-2.svg" alt="" class="icon">
                                        <p class="solu-as-des">
                                            Kho tài nguyên bổ trợ phong phú cho việc dạy và học chính khóa
                                        </p>
                                    </div>
                                    <div class="dsmall-item solu-as-item">
                                        <img src="./assets/images/solu-as-3.svg" alt="" class="icon">
                                        <p class="solu-as-des">
                                            Bài học kết hợp với nhiều trò chơi tương tác khơi gợi hứng thú học tập
                                        </p>
                                    </div>
                                    <div class="dsmall-item solu-as-item">
                                        <img src="./assets/images/solu-as-4.svg" alt="" class="icon">
                                        <p class="solu-as-des">
                                            Ứng dụng thân thiện, dễ sử dụng trên đa nền tảng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-video">
                                <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="solu-con tabPanel">
                        <div class="solu-block">
                            <div class="solu-top">
                                <div class="solu-top-left">
                                    <div class="solution-head">
                                        <div class="solution-logo">
                                            <img src="./assets/images/solu-logo-2.png" alt="">
                                        </div>
                                        <div class="solution-head-content">
                                            <p class="name">
                                                Ứng dụng PracticeTest
                                            </p>
                                            <p class="des t28-12">
                                                Phần mềm giáo dục
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="solu-top-right">
                                    <div class="solution-content">
                                        <p class="solution-des t28-14">
                                            Practice Tests – phiên bản điện tử của bộ sách Practice Tests với 4 cấp độ được thiết kế dành riêng cho học sinh THCS với mục tiêu giúp các em làm quen với các dạng bài kiểm tra, đề thi học kì hiện hành để học sinh tự tin đạt điểm cao trong các kì thi.
                                        </p>
                                        <div class="download">
                                            <div class="download-list">
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-ios.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-gg.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-image">
                                <img src="./assets/images/solu-image-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-info">
                                <p class="t28-12 fw-6">
                                    Đặc điểm nổi bật sau:
                                </p>
                                <ul>
                                    <li>
                                        Nội dung bám sát khung chương trình chính khóa giúp học sinh nắm vững cấu trúc đề thi của các kỳ thi hiện hành
                                    </li>
                                    <li>
                                        Cấu trúc từng đề thi mẫu gồm các phần: Ôn tập từ vựng và ngữ pháp; kỹ năng Nói; kỹ năng Đọc – Hiểu; kỹ năng Viết; kỹ năng Nghe, từ đó đảm bảo đánh giá đầy đủ 4 kỹ năng Nghe, Nói, Đọc, Viết cho học sinh
                                    </li>
                                    <li>
                                        Ngoài định dạng bài thi học kỳ, học sinh còn được thực hành và rèn luyện kiến thức thông qua bài thi mở rộng và bài thi nâng cao
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="solu-con tabPanel">
                        <div class="solu-block">
                            <div class="solu-top">
                                <div class="solu-top-left">
                                    <div class="solution-head">
                                        <div class="solution-logo">
                                            <img src="./assets/images/solu-logo-3.jpg" alt="">
                                        </div>
                                        <div class="solution-head-content">
                                            <p class="name">
                                                Từ điển School Dictionary
                                            </p>
                                            <p class="des t28-12">
                                                Phần mềm giáo dục
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="solu-top-right">
                                    <div class="solution-content">
                                        <p class="solution-des t28-14">
                                            Ứng dụng ‘School Dictionary’ là người bạn đồng hành trong việc học ngoại ngữ cho học sinh trung học cơ sở. Phiên bản này được các trường học và các nhà giáo dục giàu kinh nghiệm phát triển để trở thành ứng dụng từ điển hoàn hảo phục vụ cho việc học ở
                                            lớp và ở nhà.
                                            <br> <br> Với hơn 5.000 từ thông dụng, ứng dụng School Dictionary là bộ từ điển Anh – Việt hoàn chỉnh dành cho học sinh, cung cấp hơn 90% lượng từ vựng...
                                        </p>
                                        <div class="download">
                                            <div class="download-list">
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-ios.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="download-item">
                                                    <a href="" class="download-link">
                                                        <img src="./assets/images/download-gg.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-image">
                                <img src="./assets/images/solu-image-3.png" alt="">
                            </div>
                        </div>
                        <div class="solu-block">
                            <div class="solu-info">
                                <p class="t28-12 fw-6">
                                    Đặc điểm nổi bật sau:
                                </p>
                                <ul>
                                    <li>
                                        Nội dung bám sát khung chương trình chính khóa giúp học sinh nắm vững cấu trúc đề thi của các kỳ thi hiện hành
                                    </li>
                                    <li>
                                        Cấu trúc từng đề thi mẫu gồm các phần: Ôn tập từ vựng và ngữ pháp; kỹ năng Nói; kỹ năng Đọc – Hiểu; kỹ năng Viết; kỹ năng Nghe, từ đó đảm bảo đánh giá đầy đủ 4 kỹ năng Nghe, Nói, Đọc, Viết cho học sinh
                                    </li>
                                    <li>
                                        Ngoài định dạng bài thi học kỳ, học sinh còn được thực hành và rèn luyện kiến thức thông qua bài thi mở rộng và bài thi nâng cao
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-contact">
            <div class="container">
                <div class="footer-contact-wrapper">
                    <div class="footer-contact-phone">
                        <p class="title">
                            Hotline:
                        </p>
                        <a href="" class="number">
                            1800 6242
                        </a>
                    </div>
                    <div class="footer-mxh mxh">
                        <p class="title">
                            Kết nối với chúng tôi tại
                        </p>
                        <div class="mxh-list">
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-face.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-youtube.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-zalo.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-phone.svg" alt="">
                            </a>
                            <a href="" class="mxh-link">
                                <img src="./assets/images/icon-mail.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-component">
            <div class="footer-decor">
                <img src="./assets/images/footer-decor.png" alt="">
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="footer-top">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <a href="" class="footer-logo">
                                    <img src="./assets/images/footer-logo.svg" alt="">
                                </a>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <p class="footer-title">
                                    Câu chuyện thương hiệu
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <p class="footer-title">
                                    Sản phẩm & Dịch vụ
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <p class="footer-title">
                                    Chiến lược phát triển
                                </p>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <p class="footer-title">
                                    Tin tức & Sự kiện
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="footer-bot">
                        <div class="dnor footer-list">
                            <div class="dnor-item footer-item footer-item-first">
                                <div class="footer-wrap">
                                    <a href="" class="footer-logo">
                                        <img src="./assets/images/footer-logo.svg" alt="">
                                    </a>
                                    <p class="footer-heading">
                                        Công ty TNHH Education Solutions Việt Nam
                                    </p>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-1.svg" alt="" class="icon">
                                        <p class="footer-text">
                                            148-150 Nguyễn Đình Chính, P.8, Q.Phú Nhuận, Tp.Hồ Chí Minh.
                                        </p>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-2.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            1800 6242
                                        </a>
                                    </div>
                                    <div class="footer-fl">
                                        <img src="./assets/images/footer-icon-3.svg" alt="" class="icon">
                                        <a href="" class="footer-text link">
                                            info@dtp-education.com
                                        </a>
                                    </div>
                                    <div class="download">
                                        <div class="download-list">
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-ios.png" alt="">
                                                </a>
                                            </div>
                                            <div class="download-item">
                                                <a href="" class="download-link">
                                                    <img src="./assets/images/download-gg.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-second">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Câu chuyện thương hiệu
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item current_page_item">
                                                <a href="">
                                                    Về chúng tôi
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Ban lãnh đạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Lịch sử hình thành
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược phát triển
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sản phẩm & dịch vụ
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thành tính nổi bật
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến dịch cộng đồng
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Cơ hội nghề nghiệp
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-third">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Sản phẩm & Dịch vụ
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách giáo khoa
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sách & Tài nguyên khác
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Giải pháp số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chương trình đào tạo
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Thiết bị giáo dục
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-four">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Chiến lược phát triển
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược chuyển đổi số
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược bền vững
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Chiến lược đối tác
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dnor-item footer-item footer-item-five">
                                <div class="footer-wrap">
                                    <div class="footer-head">
                                        <p class="footer-title">
                                            Tin tức & Sự kiện
                                        </p>
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                    <div class="footer-menu">
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Tin tức
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Truyền thông
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Sự kiện
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-author">
                <div class="container">
                    <div class="footer-author-wrapper">
                        <p class="footer-text">
                            © 2022 DTP Education.
                        </p>
                        <div class="spc spc-24">
                            <div class="spc-list">
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Chính sách bảo mệt
                                    </a>
                                </div>
                                <div class="spc-item">
                                    <a href="" class="footer-text link">
                                        Điều khoản & Điều kiện
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/slick/slick.min.js"></script>
    <script src="./js/library/wow/wow.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.counterup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/anime/anime.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/vanilla/vanilla.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>