<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>popup</title>
</head>

<body>
    <div class="popup modify open">
        <div class="popup-overlay">
        </div>
        <div class="popup-main">
            <div class="popup-over">
                <div class="popup-wrapper ">
                    <div class="lh-pop">
                        <div class="lh-head">
                            <p>Bạn có câu hỏi?</p>
                            <div class="popup-close">
                                <i class="fas fa-times icon"></i>
                            </div>
                        </div>
                        <div class="lh-form">
                            <form action="">
                                <div class="lh-form-wr">
                                    <div class="lh-ip">
                                        <p class="lh-ip-txt">Họ và tên:</p>
                                        <input type="text">
                                    </div>
                                    <div class="lh-ip">
                                        <p class="lh-ip-txt">Địa chỉ email:</p>
                                        <input type="text">
                                    </div>
                                    <div class="lh-ip">
                                        <p class="lh-ip-txt">Số điện thoại liên hệ:</p>
                                        <input type="text">
                                    </div>
                                    <div class="lh-ip">
                                        <p class="lh-ip-txt">Nội dung:</p>
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="lh-btn">
                                    <a href="" class="lh-btn-re">Làm lại</a>
                                    <input type="submit" value="Gửi" class="btn-pp">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup modify ">
        <div class="popup-overlay">
        </div>
        <div class="popup-main">
            <div class="popup-over pdtop">
                <div class="popup-wrapper ">
                    <div class="lh-pop">
                        <div class="lh-head cl">
                            <div class="decormobile">
                                <img src="./assets/images/popdecor2.png" alt="">
                            </div>
                            <div class="decor">
                                <img src="./assets/images/popupdecor.png" alt="">
                            </div>
                            <div class="logo">
                                <img src="./assets/images/popuplogo.png" alt="">
                            </div>
                            <p>Chiến lượt chuyển đổi số</p>
                            <div class="popup-close">
                                <i class="fas fa-times icon"></i>
                            </div>
                        </div>
                        <div class="lh-content">
                            <div class="lh-img">
                                <img src="" alt="">
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia lectus a lorem
                                scelerisque suscipit. Praesent quam est, rutrum at laoreet at, tristique in mi. Cras
                                consectetur fermentum leo, eget semper eros auctor eget. Maecenas lobortis porta ligula
                                eget eleifend. Sed nec auctor est.
                            </p>
                            <p>
                                Etiam pharetra dui quis turpis eleifend hendrerit. Pellentesque nec velit ligula.
                                Phasellus gravida tristique nulla at efficitur. Nulla facilisi. Sed ultrices rhoncus
                                aliquam.
                            </p>
                            <p>
                                Curabitur at pellentesque justo. Aliquam varius odio justo, nec auctor nulla feugiat ac.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>