.page-numbers {
    @include flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem; 
    width: fit-content;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-color: $color-white;
        width: 100%;
        height: calc(100% - 1.5rem);
        z-index: 0;
        bottom: 0;
        border-radius: 100rem;
    }
    .page-numbers {
        &::after {
            display: none;
        }
    }
    >li {
        position: relative;
        z-index: 2;
        &:not(:first-child) {
            margin-left: 8px;
        }
        &>.page-numbers {
            color: $color-text;
            width: 6rem;
            height: 6rem;
            border-radius: 100rem;
            @include mid-flex;
            background-color: $color-white;
            cursor: pointer;
            @include fz-40-12;
            @include max(800px) {
                width: 4rem;
                height: 4rem;
            }
            &:hover {
                background-color: $color-pri;
                color: $color-white;
            }
            &.current {
                color: $color-white;
                background-color: $color-pri;
                width: 8rem;
                @include max(800px) {
                    width: 6rem;
                }
            }
            &.dot {}
            .icon {
                font-weight: 400;
            }
        }
    }
}