.star {
    @include flex;
    align-content: start;
    justify-content: center;
    &-list {
        position: relative;
        height: 2.6rem;
        @include max($res-mobile) {
            height: 1.6rem;
        }
    }
    &-flex {
        @include flex;
        .icon {
            width: 2.6rem;
            height: 2.6rem;
            @include max($res-mobile) {
                width: 1.6rem;
                height: 1.6rem;
            }
            &:not(:first-child) {
                margin-left: 1rem;
                @include max($res-mobile) {
                    margin-left: 0.4rem;
                }
            }
        }
    }
    &-filter {
        overflow: hidden;
        position: absolute;
        @include posi-vertical;
        left: 0;
        height: 100%;
        width: 0;
    }
}